force-app/main/default/flows/Employee_Bank_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Employee_Record</name>
        <label>Add Employee Record</label>
        <locationX>279</locationX>
        <locationY>161</locationY>
        <actionName>BankService_addAccount__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Employee_Record</targetReference>
        </connector>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>accountTypeField.Account_Type__c</assignToReference>
            <name>accountDetails_type_201</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Employee_Record</name>
        <label>Update Employee Record</label>
        <locationX>285</locationX>
        <locationY>321</locationY>
        <actionName>BankService_updateAccount__Service</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>accountTypeField.LastName</assignToReference>
            <name>accountDetails_name_200</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Employee Bank Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Bank Record</label>
    <processType>Flow</processType>
    <screens>
        <name>Account_Information</name>
        <label>Account Information</label>
        <locationX>275</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Employee_Record</targetReference>
        </connector>
        <fields>
            <name>Name_on_Account</name>
            <dataType>String</dataType>
            <fieldText>Name on Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Type</name>
            <dataType>String</dataType>
            <fieldText>Account Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Account_Information</startElementReference>
    <status>Draft</status>
    <variables>
        <name>accountTypeField</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
